/* Common */

header {
  text-align:center;
  margin-top:20px;
  margin-bottom:20px;
}

header h1,h3 {
  font-family: 'Voltaire', sans-serif;
}

header h1 {
  font-size:100px;
  line-height:1.1em;
}

header h3 {
  font-size:20px;
  line-height:1.4em;
  letter-spacing:23px;
  position:relative;
  left:12px;
}

h1, h3, h4 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight:300;
  font-size:34px;
  text-align:center;
}

#main h3 {
  font-size:30px;
  text-align:left;
  font-weight:600;
  margin-top:30px;
  margin-bottom:14px;
}

h4 {
  color:#777;
  font-size:24px;
  line-height:1.8em;
}

.text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size:16px;
  line-height:1.5em;
}

#attr {
  font-weight:800;
}

footer {
  height:60px;
}