div#lcol {
    width: 700px;
    margin: 0 auto; /* Centers the div horizontally */
    text-align: center; /* Ensures child elements are centered */
	transform: translateX(100px)
}

div#lcol h2, div#lcol h3 {
    text-align: center; /* Centers the text inside h2 and h3 */
    margin: 10px 0; /* Adjust margins for better spacing */
    display: block; /* Ensures proper block-level alignment */
}

span#byline {
	width:inherit;
	white-space:nowrap;
}

div#activecomic {
	margin:20px 0px 0px 0px;
    text-align:center;
}

div#activecomic img {
    max-width:660px;
    max-height:580px;
}

ul#comixnav {
	width:67%;
	text-align:right;
	float:left;
	margin-top:15px;
}

ul#comixnav li {
	display:inline;
	padding:10px;

	font-family:Market;
	font-size:18px;
}

ul#comixnav li a {
	color:#3c2850;
}

ul#comixnav li:hover > a {
	color:#503a67;
}

div#rcol {
	width:185px;
	overflow:auto;
	text-align:left;
}

img.thumb {
	width:100%;
	float:left;
}